/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
**/build
**/dist
**/dist-*
/linter-cache
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/__pycache__
*.pyc
*.spec
*.hap
*.app
*.exe
*.cer
*.p7b
*.p12
*.pem
*.key
/release
